@charset "utf-8";
.check-dark{display:inline-block;vertical-align:middle;position:relative;}
.check-dark em{width: 52px;height: 32px;background: #669aff;outline:none;border-radius:26px;-webkit-appearance:none;display:block;line-height: 1;position: relative;font-style: normal;box-shadow: 1px 1px 1px rgb(0 0 0 / 19%);}
.check-dark input {width: 52px;height: 32px;padding:0px;position:absolute;z-index: 20;margin: 0;opacity: 0;}
.check-dark input+em+b{position: absolute;z-index: 10;left: 0px;top: 0px;transition: all 0.2s;color: #ffb900;font-size: 16px;width: 100%;display: flex;padding: 0px 4px 0px 6px;justify-content: space-around;align-items: center;height: 100%;clip-path: circle(12px at 36px 16px);/* background: #f0f; */text-shadow: 1px 1px 0px rgb(0 0 0 / 10%);}
.check-dark input+em+b .d{}
.check-dark input+em+b .l{margin-top: 0;}
.check-dark input+em+b i{transition: all 0.4s ease-out 0.1s;text-align: center;margin-top: 39px;}
.check-dark input+em::before{position:absolute;left: 24px;top: 4px;width: 24px;height: 24px;background:#ffffff;border-radius:30px;transition:all 0.2s;content:"";z-index: 10;box-shadow: inset 1px 1px 1px rgb(0 0 0 / 19%);}
.check-dark input:checked+em{background: #666666;box-shadow: 1px 1px 1px rgb(0 0 0 / 60%);}
.check-dark input:checked+em+b{clip-path: circle(12px at 16px 16px);}
.check-dark input:checked+em+b .d{margin-top: 0;/* margin-left: 3px; */}
.check-dark input:checked+em+b .l{margin-top: 39px;}
.check-dark input:checked+em::after{left: 5px;}
.check-dark input:checked+em::before{left: 4px;background: #333333;box-shadow: inset 1px 1px 0px 0px rgb(0 0 0 / 30%);}


.check-dark2{display:inline-block;vertical-align:middle;position:relative;}
.check-dark2 em{width: 32px;height: 32px;background: #669aff;outline:none;border-radius:26px;-webkit-appearance:none;display:block;line-height: 1;position: relative;z-index: 8;font-style: normal;box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);}
.check-dark2 input {width: 32px;height: 32px;padding:0px;position:absolute;z-index:10;margin: 0;opacity: 0;}
.check-dark2 input ~ b{position:absolute;left: 4px;top: -20px;font-size: 14px;color: #ffb900;line-height: 24px;z-index: 9;transition: all 0.4s ease-out 0.1s;clip-path: circle(12px at 12px 36px);height: 49px;width: 24px;text-align: center;text-shadow: 1px 1px 0px rgb(0 0 0 / 10%);}
.check-dark2 input ~ b i{display: flex;height: 24px;justify-content: center;align-items: center;}
.check-dark2 input ~ b i::before{}
.check-dark2 input+em::before{position:absolute;left: 4px;top: 4px;width: 24px;height: 24px;background: #ffffff;border-radius:30px;transition:all 0.2s;content:"";z-index: 9;box-shadow: inset 1px 1px 1px rgb(0 0 0 / 19%);clip-path: circle(12px at center);}
.check-dark2 input:checked+em{background: #666666;box-shadow: 1px 1px 1px rgb(0 0 0 / 60%);}
.check-dark2 input:checked~ b{clip-path: circle(12px at 12px 12px);left: 4px;top: 4px;color: #ffb900;}
.check-dark2 input:checked+em::before{background: #333333;box-shadow: inset 1px 1px 0px 0px rgb(0 0 0 / 30%);}
