@charset "utf-8";
/* @import url("//fonts.googleapis.com/earlyaccess/notosanskr.css"); */
/* reset css */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, main, nav, section{margin:0; padding:0; border:0;}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, main, nav, section{display:block;}
html,body{}
body{word-wrap:break-word; word-break:keep-all; color:#333333; line-height:1.6; -webkit-text-size-adjust:none;}
html *{max-height:1000000px;} /* Android tablet bug fix */
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight: normal;}
a,button,input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);}
body,select,input,textarea,button{font-size: 13px;font-family: 'Roboto',"Noto Sans KR","NotoSansKR","Malgun Gothic", "맑은 고딕" , Helvetica, Arial, sans-serif,"Apple Gothic","NotoSans","돋음", "Dotum";vertical-align:middle;}
ol,ul,li{list-style:none;}
label{vertical-align:middle; display:inline-block;}
legend,caption{width:0;height:0; visibility:hidden; font-size:0;line-height:0;}
img{vertical-align:middle; border:none;}
table{border-collapse:collapse; border-spacing:0;}
address,em,i{font-style:normal; }
*,::before,::after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
*{outline-color: rgb(0 114 255 / 20%);}
::-ms-clear{display: none; }

:root{
    --body-bg: #ffffff;
    --color-1: #555555;
    --color-link: #666666;
}

html.dark{
    --body-bg:#1a1a1a;
    --color-1: #888888;
    --color-link: #797979;
}

a{color: var(--color-link);}
.hdt{font-size: 8px;font-weight: 500;margin: 10px;color: var(--color-1);}
body{background-color: var(--body-bg); padding: 20px;transition: background-color 0.2s;display: flex;flex-direction: column;align-items: center;justify-content: center;height: 100dvh;}

